body {

    --btn-primary: #7D7DF7;
    --border: #C0BFBF;
    --link-color: #505F98;
    --btn-primary-dark: #111b47;
    --btn-secondary: transparent;
    --text-color: #333;
    --background-color: #FFF;
    color: var(--text-color);
    background: var(--background-color);
    line-height: 1.5;
}

@font-face {
    font-family: 'sfpro';
    src: url('./SFPRO/SFPRODISPLAYREGULAR.OTF');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'sfpro';
    src: url('./SFPRO/SFPRODISPLAYBOLD.OTF');
    font-weight: 800;
    font-style: bold;
}



.image-button:hover {
    background-color: #7D7DF7;
}

.image-button img {
    width: 75%;
    height: 80%;
}

.image-button {
    height: 7%;
    width: 3.5%;
    background-color: #111b47;
    border: none;
    color: white;
    padding: 1vh;
    border-radius: 10px;
    font-family: 'sfpro';
    position: fixed;
    left: 6%;
    bottom: 4%;
    z-index: 1000;
    transition: background-color .3s ease-in-out;
}

.tts-button {
    height: 7%;
    width: 3.5%;
    background-color: #111b47;
    border: none;
    color: white;
    padding: 1vh;
    border-radius: 10px;
    font-family: 'sfpro';
    position: fixed;
    left: 2%;
    bottom: 4%;
    z-index: 1000;
    transition: background-color .3s ease-in-out;
}

.tts-button:hover {
    background-color: #7D7DF7;
}

.tts-button img {
    width: 75%;
    height: 80%;
}


.font-resize-controls {
    font-family: 'sfpro';
    position: fixed;
    margin-left: 95%;
    bottom: 10%;
    z-index: 1000;
    transform: translateY(50%);

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.font-resize-controls button {
    width: 8vh;
    margin-top: 8%;
    font-family: 'sfpro';
    font-size: 1rem;
    background-color: #111b47;
    border-radius: 20px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    transition: background-color 0.2s ease-in-out;
}

.font-resize-controls button:hover {
    background-color: #7D7DF7;
}

.navbar {
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.05rem;
    position: relative; 
    border-bottom: 0.3rem solid var(--link-color); 
}



.navbar a {
    font-family: 'sfpro';
    font-weight: 800;
    font-size: 2.2vh;
    text-decoration: none;
    padding-right: 25px;
    padding-left: 20px;
    color: #111b47;
    position: relative;
    bottom: -3px !important;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.navbar a.active {
    color: #7D7DF7; 
}

.navbar a:focus {
    outline-offset: 2px;
    color: white;
}

.navbar a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--btn-primary-dark);
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.navbar a:hover::after,
.navbar a:focus::after {
    transform: scaleX(1);
    transform-origin: center;
}


.pages {
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    width: 60%;
    align-items: center;
    gap: 1vh;
}

.general {
    font-size: 1rem;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1vh;
}

.head {
    margin: 128px 0 0 48px;
    width: calc(100% - 648px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1vh;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title>.title {
    font-size: 6em;
    font-family: 'SFPRO';
}

.title>img {
    margin: -12px 0;
}

.description {
    font-family: 'sfpro' !important;
    font-weight: 100;
    font-size: 2em;
    width: 80%;
    display: inline;
    font-family: 'Roboto';
    margin-top: 50px;
    margin-bottom: 100px;
}

.fade-out {
    animation: fadeOutAnimation 0.5s ease forwards;
}

@keyframes fadeOutAnimation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeInAnimation 0.5s ease forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.actions {
    font-size: 1.8em;
    width: 80%;
    height: 20% !important;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.download {
    margin-right: 5vh !important;
    font-size: 1rem;
    background-color: #7D7DF7;
    padding: 5px;
    border-radius: 10px;
    color: white !important;
    font-weight: 100 !important;
}

.navbar img {
    display: none; 
}

.icon{
    padding-left: 10px;
    height: 20px;
    width: 20px;
}


.navbar a.download::after {
    display: none;
}

.actions>a {
    padding: 8px 0;
    width: 45%;
    font-size: 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-decoration: none;
    text-align: center;
}



@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    20%,
    60% {
        transform: translateX(-10px);
    }

    40%,
    80% {
        transform: translateX(10px);
    }
}

.shake {
    animation: shake 0.5s;
}


.fade-out {
    animation: fadeOut 0.5s;
}

.fade-in {
    animation: fadeIn 0.5s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.pricing-container {
    margin-top: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    padding: 20px;
}



.main {
    margin-top: 100px;
}

.navbar {
    background-color: white;
    position: fixed;
    min-width: 100%;
    max-width: 100%;
    min-height: 5%;
    max-height: 5%;
    top: 0;
    transition: top 0.3s;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    flex-wrap: wrap;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}
 

.navbar-icons{
    padding-left: 1vh;
    height: 2.2vh;
    width: 2.2vh;
}

.navbar a.download {
    padding: 5px 15px;
    margin-right: 1em;
    white-space: nowrap;
}

.navbar .general {
    flex-shrink: 0;
}

.scroll-up {
    transform: translateY(0);
}

.scroll-down {
    transform: translateY(-100%);
}


.pricing-card {
    border: 1px solid #111b47;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 22%;
    min-height: 50%;
    max-height: 50%;
    transition: transform 0.5s ease-in-out;
    overflow-y: scroll;
    overflow-x: hidden;
}

.pricing-card::-webkit-scrollbar {
    width: 10px;
}

.pricing-card::-webkit-scrollbar-track {
    background: transparent;
}

.pricing-card::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 30px;
}

.pricing-card::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.pricing-card:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 800px) {
    .pricing-container {
        flex-direction: column;
        align-items: center;
    }

    .pricing-card {
        width: 80%;
        margin-bottom: 20px;
    }
}


.pricing-card h2 {

    font-family: 'sfpro';
    font-size: 1.8em;
    color: var(--btn-primary-dark);
    margin-bottom: 10px;
}

.pricing-card p {

    font-family: 'sfpro';
    font-size: 1.25em;
    font-weight: bold;
    color: var(--link-color);
    margin-bottom: 20px;
}

.pricing-card ul {

    font-family: 'sfpro';
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    text-align: left;
}

.pricing-card ul li {
    font-family: 'sfpro';
    padding: 5px 0;
    border-bottom: 1px solid var(--border);
}


.pricing-card button {
    font-family: 'sfpro';
    font-size: 1.5em;
    border: none;
    margin-top: auto;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.pricing-card button:hover,
.pricing-card button:focus {
    background-color: #111b47;
}



.signup {
    border-radius: 20px;
    background-color: #111b47;
    color: white;
    border: none;
    font-family: 'sfpro';
    font-size: 1.8em;
    transition: transform 0.2s ease-in-out;
}

.signup:hover {
    transform: scale(1.04);
}


.signin {
    font-family: 'sfpro', sans-serif;
    font-size: 1.8em;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: black;
    border: 2px solid black;
    transition: transform 0.2s ease-in-out;
}

.signin:hover {
    transform: scale(1.04);
}

.splash {
    z-index: -1;
    position: fixed;
    bottom: 0;
    right: 0;
    height: calc(100vh - 128px);
}

.splash-reverse {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    z-index: -1;
    position: fixed;
    margin-right: 65%;
    bottom: 0;
    right: 0;
    height: calc(100vh - 128px);
}

.splash-reverse-files {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    z-index: -1;
    position: fixed;
    margin-right: 65%;
    bottom: 0;
    right: 0;
    height: 100%;
}

.phone {
    z-index: 10;
    position: fixed;
    bottom: 6%;
    right: 6%;
    height: 70vh;
}

.btn {
    font-family: 'sfpro', sans-serif;
    font-size: 1.2em;
    text-align: center;
    background-color: var(--btn-primary);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    max-width: 500px;
}

.btn:hover {
    background-color: var(--btn-primary-dark);
}


.copy {
    font-family: 'sfpro';
    font-size: 0.5em;
    position: fixed;
    bottom: 6px;
    left: 12px;
    color: grey;
}

.login_form {
    margin: 64px auto;
    width: 50vh;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.login_form>input {
    width: 100%;
    height: 64px;
    text-align: center;
    font-size: 0.8em;
    cursor: pointer;
}

.notes_main {
    display: flex;
    height: calc(100vh - 67px);
}

.sidebar {
    background-color: white;
    height: calc(100% - 48px);
    width: 20%;
    border-right: 1px solid var(--border);
    padding: 24px;
}

.sidebar>.top {
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-family: 'Roboto';
    border-bottom: 1px solid var(--border);
    padding-bottom: 16px;
}

.notes {
    width: 80%;
    height: 100%;
    background-image: linear-gradient(0deg, var(--border) 5%, #ffffff 5%, #ffffff 100%);
    background-size: 28.28px 28.28px;
}

.writing {
    resize: none;
    background: transparent;
    width: 90%;
    margin: 0 0 0 10%;
    height: calc(100% - 2px);
    border: none;
    border-left: 1px solid red;
    outline: none;
    line-height: 28.28px;
    font-size: 1em;
}

.files {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    align-items: center;
    padding: 12px 0;
}

.files>button {
    width: 80%;
    height: 28px;
    font-size: 1em;
}

a,
button,
input,
textarea {
    outline: 3px solid transparent;
    outline-offset: 2px;
}



.content-section {
    margin-top: 10vh;
    font-family: 'sfpro';
    max-width: 1000px;
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.content-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.content-section h1 {
    font-family: 'sfpro', sans-serif;
    font-size: 3em;
    color: var(--btn-primary-dark);
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.content-section p {
    font-family: 'sfpro', sans-serif;
    font-size: 1.2em;
    color: var(--text-color);
    line-height: 1.8;
    margin-bottom: 1.5rem;
}

.content-section ul {

    list-style-type: none;
    padding: 0;
    text-align: left;
    display: inline-block;
}

.content-section ul li {
    font-family: 'sfpro';
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(237, 237, 237, 1) 100%);
    margin: 1rem 0;
    padding: 1.5rem;
    border-radius: 8px;
    transition: background-color 0.3s;
    position: relative;
}

.content-section ul li::before {
    content: '•';
    color: var(--btn-primary);
    font-size: 1.5em;
    position: absolute;
    left: -25px;
}

.content-section ul li:hover {
    background-color: rgba(237, 237, 237, 0.5);
}

.content-section .btn.contact-btn {
    border: none;
    font-family: 'sfpro', sans-serif;
    background-color: var(--btn-primary);
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 1.1em;
    letter-spacing: 0.5px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.content-section .btn.contact-btn:hover {
    background-color: var(--btn-primary-dark);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

@media (max-width: 980px) {
    .content-section {
        max-width: 90%;
        margin: 2rem auto;
        padding: 2rem 1rem;
    }
}

.login-container {
    font-size: 1.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--background-color);
}

.login-header {
    text-align: center;
    margin-bottom: -3rem;
}

.login-logo {
    width: 20vh;
    margin-bottom: 1rem;
}

h1 {
    font-family: 'sfpro', sans-serif;
    color: var(--btn-primary-dark);
    margin-bottom: 1rem;
}

.login_form {
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login_form input[type="text"],
.login_form input[type="password"],
.login_form input[type="submit"]:focus::placeholder {
    font-family: 'sfpro', sans-serif;
    padding: 0.75rem;
    border: 1px solid var(--border);
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.login_form input[type="submit"] {
    background-color: var(--btn-primary);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login_form input[type="submit"]:hover {
    background-color: var(--btn-primary-dark);
}

.login-footer {
    font-family: 'sfpro';
    font-size: 1.1em;
    text-align: center;
    margin-top: 2rem;
}

.login-footer p {
    margin-bottom: 0.5rem;
}

.login-footer a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.login-footer a:hover {
    color: var(--btn-primary-dark);
}

.help-link {
    display: inline-block;
    margin-top: 1rem;
}

:root {
    --primary-color: #7D7DF7;
    --text-color: #333;
    --background-color: #FFF;
    --input-background: #F9F9F9;
    --border-color: #DDD;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'sfpro', sans-serif;
}

.signup-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-color);
}

.signup-btn {
    background-color: var(--secondary-color);
}


.signup-form-container {
    background: var(--input-background);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-header {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1.5rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    font-size: 1em;
    background-color: var(--input-background);
}

.submit-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: darken(var(--primary-color), 10%);
}

.modal {
    z-index: 10001 !important;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    border-radius: 30px;
    background-color: #fefefe;
    margin: 12% auto;
    padding: 20px;
    border: 3px solid #111b47;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    width: 60%;
    height: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.modal.show {
    display: block;
    animation: fadeIn 0.5s;
}

.modal.hide {
    animation: fadeOut 0.5s;
    animation-fill-mode: forwards;
}

.help-topics {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.help-topic {

    background: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #111b47;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.help-topic h2 {
    font-family: 'sfpro', sans-serif;
    color: var(--btn-primary-dark);
    margin-bottom: 1rem;
}

.help-topic p {
    font-family: 'sfpro', sans-serif;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.help-topic:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.show {
    animation: fadeIn 0.5s;
}

.hide {
    animation: fadeOut 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.magnifier-lens {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    width: 200px;
    height: 200px;
    transform: scale(2);
    display: none;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.container {
    padding-top: 4%;
    display: flex;
    min-height: 90vh;
    max-height: 100vh;
    
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-file-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar {
    height: 100%; 
    display: flex;
    flex-direction: column; 
}

.file-list {
    flex: 1; 
    overflow-y: auto; 
}

.file-list div {
    border-bottom: 1px solid #ccc; 
    padding: 8px 0;
}

.file-list div:last-child {
    border-bottom: none; 
}

.note-editor {
    width: 78%;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 3px solid #505F98;
    display: flex;
    flex-direction: column;
}

.logout{
    margin-right: 300px !important;
    font-family: 'sfpro';
    font-size: 1.3em;
    background-color: transparent;
    border: none;
    color: #111b47;
    font-weight: 800;
}

.note-input {
    overflow-y: auto;
    overflow-wrap: break-word;
    margin-top: 0; 
    font-family: 'sfpro';
    width: 99%;
    height: 50vh;
    border: none;
    padding: 10px;
    font-size: 2em;
    line-height: 1.5;
    resize: none;
    background-color: rgba(0, 0, 0, 0.15);
    margin-bottom: 1%;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.04);
}


.editor-controls {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editor-top-controls {
    align-self: flex-end; 
    margin-bottom: 8px; 
  }

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #3498db;
    color: white;
}

#translationResult {
    width: 82%;
    margin-top: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 100px;
    word-wrap: break-word;
    overflow: auto;
}

#languageSelect {
    color: white;
    font-family: 'sfpro';
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #111b47;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}



.translation-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align to the start of the container */
}

.main-footer {
    text-align: center;
    padding: 10px 0;
    background-color: #34495e;
    color: white;
}

.font-resize-controls button {
    background-color: #0074d9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.tts-button,
.image-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0074d9;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.translation-button{
    height: 300px;
    font-family: 'sfpro';
    font-size: 1.1em;
    margin-top: 5px;
    color: white;
    background-color: #111b47;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 4px;
}

.tts-button img,
.image-button img {
    width: 100%;
    height: 100%;
}

.save-note-btn{
    margin-top: 2px;
    margin-top: -60px;
    margin-left: 133vh;
    width: 15%;
    font-family: 'sfpro';
    font-size: 1.1em;
    color: white;
    background-color: #111b47;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 4px;
}

.delete-note-btn{
    margin-left: 138vh;
    display: block;
    height: 5%;
    font-family: 'sfpro';
    font-size: 1.1em;
    margin-top: 5px;
    color: red;
    background-color: transparent;
    box-shadow: none;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 30px;
}

.speech-btn{
    margin-top: 8px;
    font-family: 'sfpro';
    font-size: 1.3em;
    font-family: 'sfpro';
    font-size: 1em;
    color: white;
    background-color: #111b47;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 4px;
    width: 10%;
    height: 10%;
}

.dictation-controls, .translation-controls {
    margin-top: 10px; 
}

.controls-row {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.language-dropdown {
    flex-grow: 0;
}

.translate-note-btn{
    width: 15%;
    height: 42px;
    margin-left: 10px;
    font-family: 'sfpro';
    font-size: 1.1em;
    margin-top: 5px;
    color: white;
    background-color: #111b47;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 4px;
}

